:root {
	/* Couleurs */
	--background-color: #0a0a0a;
	--background-color-grey: #808080;
	--container-background-color: #121212;
	--text-color-pink-neon: #39ff14;
	--text-color-purple-neon: rgba(234, 87, 260, 1);
	--title-color-green-neon: #ff4081;
	--hover-color-yellow-neon: rgba(223, 252, 82, 1);
	--border-color-yellow-neon: rgba(130, 102, 170, 1);
	--border-color-red-neon: #ff1818;
	--border-color: #39ff14;
	--hover-color-pink-neon: #ff4081;
	--shadow-color-purple-neon: rgba(234, 87, 260, 0.6);
	--shadow-color: #39ff14;

	/* Tailles de police */
	--font-size-normal: 18px;
	--font-size-title: 40px;
	--font-size-legend: 12px;
	--font-size-small: 10px;
	--font-size-large: 24px;
	--font-size-text: 12px;
	--font-size-text-tab: 18px;
	--font-size-text-mobile: 12px;

	/* Tailles de marges et de paddings */
	--margin-small: 10px;
	--margin-standard: 20px;
	--margin-large: 25px;
	--padding-small: 10px;
	--padding-standard: 20px;
	--padding-large: 30px;

	/* Width and height */
	--width-small: 22px;
	--width-standard: 26px;
	--width-large: 60px;
	--height-small: 22px;
	--height-standard: 26px;
	--height-large: 34;

	/* left right top bottom */
	--top-small: 0;
	--left-small: 4px;
	--bottom-small: 4px;

	/* Valeurs a zero */
	--margin-none: 0;
	--padding-none: 0;
	--width-none: 0;
	--height-none: 0;
	--top-none: 0;
	--left-none: 0;
	--right-none: 0;
	--bottom-none: 0;
	--opacity-none: 0;

	/* Polices */
	--font-family: "Open Sans", Courier, monospace;

	/* Light and Dark mode build */

	--background-color-light: #f0f0f0;
	--text-color-light: #333;
	--text-color-svgText: #10d3eb;
	--border-color-svg: #10d3eb;

	/* Annimation */
	--transition-speed: 0.3s;
	--animation-duration: 1s;
}

body {
	background-color: var(--background-color);
	color: var(--text-color-pink-neon);
	font-size: var(--font-size-normal);
	font-family: var(--font-family);
}

a {
	color: var(--text-color-purple-neon);
}
svg {
	display: block;
	width: 95%;
	height: auto;
	margin: var(--margin-standard) auto;
	padding: var(--padding-standard);
	background-color: var(--container-background-color);
	border: 1px solid var(--border-color);
}
#header {
	font-size: var(--font-size-title);
	font-weight: bold;
	margin-top: var(--margin-standard);
	text-align: center;
	color: var(--title-color-green-neon);
}

.legend {
	position: absolute;
	width: 330px;
	font-size: var(--font-size-legend);
	color: var(--text-color-pink-neon);
	background-color: var(--container-background-color);
	border-left: 3px solid var(--title-color-green-neon);
	padding: var(--padding-small);
	box-shadow: 0 0 15px var(--shadow-color);
}

.node {
	cursor: pointer;
}
.node circle {
	fill: #222;
	stroke: var(--border-color-red-neon);
	stroke-width: 0.1rem;
}

.node circle:hover {
	fill: var(--hover-color-yellow-neon);
}

text {
	font-size: var(--font-size-text);
	text-shadow: var(--shadow-color-purple-neon) 1px 0 10px;
	fill: var(--text-color-pink-neon);
}
path.link {
	fill: none;
	stroke: var(--border-color-yellow-neon);
	stroke-width: 1.5px;
	opacity: 0.5;
}

footer {
	text-align: center;
}

/* --- Build Light and Dark mode --- */

.theme-switch-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.theme-switch-label {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.theme-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 0 10px;
}

.theme-switch-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.theme-switch-input:checked + .theme-slider:before {
	transform: translateX(26px);
}
.theme-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: grey;
	transition: 0.4s;
	border-radius: 34px;
}

.theme-slider:before {
	content: "";
	position: absolute;
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: yellow;
	border-radius: 50%;
	box-shadow: 0 0 5px 5px yellow;
	transition:
		transform 0.4s,
		background-color 0.4s;
}

.theme-switch-input:checked + .theme-slider:before {
	transform: translateX(26px);
	background-color: #f0e68c;
	box-shadow: none;
}

.theme-switch-input:checked + .theme-slider {
	background-color: grey;
}

.theme-switch-input:checked + .theme-slider:after {
	content: "";
	position: absolute;
	height: 22px;
	width: 22px;
	left: 25px;
	bottom: 7px;
	background-color: grey;
	border-radius: 50%;
	box-shadow: -5px 0 4px 4px grey;
	transition:
		transform 0.4s,
		background-color 0.4s;
}
/* --- Media queries --- */

@media screen and (max-width: 768px) and (max-width: 1200px) {
	text {
		font-size: var(--font-size-text-tab);
	}
}
@media screen and (max-width: 768px) {
	:root {
		--font-size-normal: 16px;
		--font-size-title: 32px;
		--font-size-legend: 10px;
		--margin-standard: 10px;
		--padding-standard: 10px;
	}

	.legend {
		width: auto;
		padding: var(--padding-small);
	}
	text {
		font-size: var(--font-size-text-mobile);
	}
}

@media screen and (max-width: 480px) {
	:root {
		--font-size-normal: 14px;
		--font-size-title: 24px;
		--font-size-legend: 8px;
		--padding-small: 5px;
		--margin-standard: 5px;
	}

	#header {
		font-size: var(--font-size-title);
	}
	text {
		font-size: var(--font-size-text-mobile);
	}
}

/* Color Scheme */

body.light-mode {
	background-color: var(--background-color-light);
	color: var(--text-color-light);
}
svg.light-mode {
	background-color: var(--background-color-grey);
	color: var(--text-color-light);
	border: 1px solid var(--border-color-svg);
}
text.light-mode {
	fill: var(--text-color-svgText);
}
path.link.light-mode {
	opacity: 0.8;
}
